:root {
    --primary-color: #D32F2F; /* Red */
    --secondary-color: #B71C1C; /* Dark Red */
    --background-color: #F5F5F5; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
    --accent-color: #FFFFFF; /* White */
}

body {
    font-family: 'Roboto', sans-serif; /* Use Roboto for body text */
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

header h1 {
    font-family: 'Oswald', sans-serif; /* Use Oswald for headings */
    margin: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}

/* Navigation styles */
nav {
    background-color: var(--accent-color);
    padding: 0.5rem;
    margin: 0 30px; 
    border-radius: 8px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 4px;
}

/* Button styles */
button {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    
}

/* Button styles */
.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.button:hover {
    background-color: var(--secondary-color);
}


#about-us {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#about-us h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#about-us p {
    margin-bottom: 1rem;
}

#weather {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weather h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#weather-container p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--text-color);
}

#map-container {
    margin-top: 2rem;
    text-align: center;
}

#map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    #gallery-container {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

    section {
        padding: 1rem;
        width: 90%; /* Reduce width for smaller screens */
    }

    #weather-container iframe {
        height: 200px; /* Adjust map height for smaller screens */
    }
}