.gallery {
    grid-template-columns: repeat(var(--num-cols, 1), 1fr);
}
/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #192a5a;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    
    background-color: #192a5a;
}

main {
    display: flex;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    margin: 20px;
}

.story img {
    width: 200px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bolivia img {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.card-01 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.card-01 {
    display: grid;
    padding: 20px;
    background-color: rgb(192, 192, 255);
    color: var(--headline-color-on-color);
    text-align: center;
}

.card-01 h2 {
    grid-row: 1;
    font-size: 26px;
    color: var(--heading-font);
    background-color: var(--headline-color-on-white);

}

.story {
    display: grid;
}

.story img {
    display: grid;
    margin: auto;
}

.card-02 {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    background-color: rgb(192, 192, 255);
    color: black;
    text-align: center;
}

.card-02 h2 {
    grid-row: 1;
    font-size: 26px;
    color: var(--heading-font);
    background-color: var(--headline-color-on-white);
}

.card-02 p {
    color: var(--paragraph-color-on-color);
}

.card-02 div {
    grid-row: 2;
    margin: 20px;
}

.card-02 ul {
    color: black;
    padding: 0;
    text-align: left;
}

.card-01, .card-02 {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxcertificate01 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.certificate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(192, 192, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}


.boxButton {
    padding-top: 10px;
}

.courseButton {
    flex: 1 1 100%;
    margin: 5px;
}

.courseButton {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.courseButton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#192a5a ;
    border-radius: 5rem;
    z-index: -2;
}
.courseButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--alice-blue);
    transition: all 0.3s;
    border-radius: 5rem;
    z-index: -1;
}
.courseButton:hover {
    color: var(--oxford-blue-3);
}
.courseButton:hover:before {
    width: 100%;
}

.course {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course {
    border: black solid 2px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.course {
    transition: all 0.3s;
    position: relative;
}

.course h3 {
    font-size: #192a5a;
    margin: 0;
    padding: 0;
}

.courseNoComplete {
    background-color: white;
    color: black;
}

.courseComplete {
    background-color: #192a5a;
    color: white;
}
.course h3 {
    transition: all 0.3s;
}
.course::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 18, 51, 0.468);
    border-bottom-color: rgba(0, 18, 51, 0.468);
    transform: scale(0.1, 1);
}
.course:hover h3 {
    letter-spacing: 2px;
}
.course:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(138, 186, 234, 0.1);
}
.course:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

dialog {
    border: 1px solid var(--oxford-blue-3);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--paragraph-background-color);
    box-shadow: 0 0 3rem var(--oxford-blue-3);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

dialog {
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: rgb(192, 192, 255);
    box-shadow: 0 0 3rem black;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--oxford-blue-3);
}

footer p {
    margin: 0.5rem 0;
}

footer {
    background-color: #192a5a;
    color: white;
    text-align: center;
    padding: 1rem;
}



